		<br>
		<div id="maini">
			<%= image_tag("mainpage2.jpg")%>
		</div>

		<div class="arrow-up"></div>

		<div id="bbox">
			<br><br><h1>JUST PLAY</h1><br>
			<p>
				Choose a sport, match with local users, have fun.
			</p>
		</div>
