<div id="mainp">

	<br><%= image_tag("mainpage1.jpg") %><br><br>
	<h1>JUST WIN</h1>

</div>

<!-- <div id="links">
	<%= link_to 'Signup', '/users/new' %>
	/
	<%= link_to 'Login', '/login' %> 
</div> -->
