<div id="girl">
	<%= image_tag("intense3.jpg") %>
</div>

<div id="cbox">
			<%= form_for :match, url: '/users' do |match| %>
			<!-- <p>
				User1.<br> 
				User2.<br> 
				User3.
			</p> --><br>
			<div id="submit"><%=match.submit "End Session", class: "End Session" %></div>
		<% end %>
</div>