<div id="girl">
	<%= image_tag("intense3.jpg") %>
</div>

<div id="cbox">
			<%= form_for :match, url: '/matches' do |match| %>

			<div id="box">
				
			</div>

			<div id="chbox">
				
			</div>

		<div id="submit">
			<button type="button3" class="btn btn-default btn-lg">
			<%= match.submit "End Session" %></button>
		<% end %>
		</div>
</div>