@import "bootstrap-sprockets";
@import "bootstrap";

$main-color: #8c7373;

/*@media all
	and (max-width: 667px) { 
		.container {
			display: none;
	}
}*/

.container-fluid {
	background-color: #e3f2fd;
	color: white;
	text-align: center;
	font-size: 16px;
}

#PUG {
	text-align: center;
}

#links {
	font-size: 1.4em;
}

#scenter {
 	text-align: center;
}

#mainp {
	text-align: center;
}

#maini {
	background-color: black;
	/*width: 200px;*/
	top: -22px;
	left: -118px;
	position: relative;
	img{
		height: 360px;
	}
}

#bbox {
	text-align: center;
	color: white;
	background-color: #4dd2ff;
	font-size: 16px;
	height: 332px;
	width: 414px;
	position: relative;
	top: -52px;
}

.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  
  border-bottom: 30px solid #4dd2ff;
  
  position: relative;
  bottom: 51px;
  left: 13em;
}

/*locations*/

#mike {
	position: relative;
	bottom: 20px;
	img{
		width: 100%;
	}
}

#PUG {
	text-align: center;
}

#sumo {
	position: relative;
	bottom: 20px;
	img{
		width: 100%;
	}
}

#show {
	text-align: center;
}

/*sessions */
#lcenter {
 text-align: center;
}